---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Map from "~/components/Map.astro";
import { Image, Picture } from "astro:assets";
import * as AstroAssets from "astro:assets";
import Hero from "~/components/Hero.astro";
import Button from "~/components/Button.astro";
import Faq from "~/components/Faq.astro";
import CallToAction from "~/components/CallToAction.astro";
import ShowCats from "~/components/ShowCats.astro";
import ShowBlogs from "~/components/ShowBlogs.astro";
import Heading from "~/components/Heading.astro";
import CatNameGenerator from "~/components/CatNameGenerator.astro";

// Images
import CatBackground from "~/assets/images/portada.png";
import CatOne from "~/assets/images/cat1.png";
import CatTwo from "~/assets/images/portada.png";
import CatThree from "~/assets/images/reglas.png";
import CatsCelu from "~/assets/images/pets/main/celu.png";
import CatsCompu from "~/assets/images/pets/main/compu.png";
import Preguntas from "~/components/Preguntas.astro";
import Address from "~/components/Address.astro";
import TableHours from "~/components/TableHours.astro";

// Faq
const faq = [
	{
		question: "¿Qué es un café de gatos?",
		answer: "Es un espacio relajante y seguro en donde puedes disfrutar de un rico alimento y/o bebida mientras convives con nuestros adorables gatitos. ",
	},
	{
		question: "¿Hay reglas especiales para interactuar con los gatos?",
		answer: "Sí, tenemos algunas reglas para garantizar la seguridad y el bienestar de los gatos. Por ejemplo, no está permitido levantar a los gatos sin permiso y se debe respetar su espacio personal.",
	},
	{
		question: "¿Puedo llevar a mi gato?",
		answer: "Lamentablemente no, Neko-hi es el hogar de nuestros gatitos y los gatos suelen ser muy territoriales, llevar un gato extraño puede ser una experiencia estresante tanto para los gatitos del café como para tu gato. Es mejor que se queden en la seguridad de su hogar.",
	},
	{
		question: "¿Pueden ir niños?",
		answer: "¡Claro! En Neko-hi no tenemos limite de edad, únicamente le pedimos a los padres o tutores que nos apoyen explicándoles las reglas a los mas peques y se aseguren de que se lleven a cabo las reglas de convivencia.",
	},
];
---

<Layout title="Home" pageTitle="Neko-hi" description="Neko Hi es un acogedor café de gatitos en Guadalajara, donde puedes disfrutar café delicioso mientras convives con adorables gatitos en un ambiente relajante.">
	<Section class:list={"relative"}>
		<picture>
			<source 
				srcset={CatsCelu.src} 
				media="(max-width: 768px)"
				width="750"
				height="1334"
			/>
			<img
				src={CatsCompu.src}
				alt="Gatos en Neko-hi Café"
				class="absolute inset-0 w-full h-full object-cover"
				loading="eager"
				fetchpriority="high"
				width="1920"
				height="1080"
			/>
			</picture>
		<div class="bg-gradient-to-r from-pink-300/40 via-pink-500/30 via-blue-400/30 to-blue-600/50 absolute inset-0"></div>


		<Container class:list={"relative z-10 h-full lg:min-h-svh lg:h-svh"}>
			<div class="flex items-center h-full">
				<div>
					<div class="prose prose-xl prose-invert text-white text-left text-balance">
					  <h1 class="text-5xl lg:text-8xl mb-0" data-translate="TT_i" >Bienvenidos a Neko-hi</h1>
					  <p data-translate="TT_1">
						Neko-hi Café es el lugar ideal para relajarte con una rica taza de café mientras disfrutas de la compañía de nuestros adorables gatos. Un ambiente acogedor donde puedes desconectar y pasar un rato único rodeado de felinos. ¡Te esperamos!
					  </p>
				  
					  <!-- <div class="not-prose mt-8">
						<Button href="tel:33263212137" color="white" data-translate="CONTACT_1"> Contáctanos </Button>
					  </div> -->
					</div>
				  </div>
				  
			</div>
		</Container>
	</Section>

	<Section class:list={"bg-white"}>
		<Container>
			<Hero>
				<div slot="hero-content-left" class="prose">
					<h2 class="text-4xl font-bold bg-gradient-to-r from-pink-200 via-pink-400 to-fuchsia-600 bg-clip-text text-transparent" data-translate="CALIDAD_TT">Calidad y Experencia Inigualables</h2>
					<p class="leading-loose" data-translate="CALIDAD_STT">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					</p>

					<div class="not-prose mt-16">
						<Button url="/cats" data-translate="CONOCE_GATOS" >
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="inline-block size-5 -mt-1 mr-1"
								viewBox="0 0 14 14"
								><path
									fill="currentColor"
									fill-rule="evenodd"
									d="M1.777.053A.5.5 0 0 1 2.3.1l3.917 2.947a6.6 6.6 0 0 1 1.564 0L11.7.1a.5.5 0 0 1 .801.4v8.25h.748a.75.75 0 0 1 0 1.5h-.81a4.5 4.5 0 0 1-.479 1.391l1.376.688a.75.75 0 1 1-.67 1.342l-1.654-.827A4.48 4.48 0 0 1 8 14H6a4.48 4.48 0 0 1-3.011-1.156l-1.654.827a.75.75 0 1 1-.67-1.342l1.376-.688a4.5 4.5 0 0 1-.479-1.391h-.81a.75.75 0 0 1 0-1.5H1.5V.5a.5.5 0 0 1 .277-.447M9.124 7.75a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m-4.25 0a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m.897 1.605A.5.5 0 0 1 6.25 9h1.5a.5.5 0 0 1 .277.916l-.75.5a.5.5 0 0 1-.554 0l-.75-.5a.5.5 0 0 1-.202-.56Z"
									clip-rule="evenodd"></path></svg
							>
							Conoce nuestros gatitos
						</Button>
					</div>
				</div>
				<div slot="hero-content-right" class="-rotate-1">
					<Image src={CatOne} alt="Cat" class:list={"w-full h-full object-cover rounded-2xl shadow"} />
				</div>
			</Hero>
		</Container>
	</Section>
	

	<Section>
		<Container>
			<Heading>
				<h2 slot="heading-title" class="h2 text-4xl font-bold bg-gradient-to-r from-pink-200 via-pink-400 to-fuchsia-600 bg-clip-text text-transparent" data-translate="NUESTROS_GATITOS">Available Cats</h2>
				<p slot="heading-content" data-translate="NUESTROS_GATITOS_DESC">
					We have a variety of cats available for adoption. Please take a look at our available cats and
					contact us if you are interested in adopting one. We are always looking for loving homes for our
					cats. Thank you for considering adoption!
				</p>
			</Heading>

			<ShowCats cats={["Cheto", "Finn", "Mantecado"]} />
		</Container>
	</Section>

	<Section>
		<Container>
			<div class="grid grid-cols-1 gap-8 lg:gap-16 xl:gap-24 lg:grid-cols-2">
				<div>
					<!-- <Heading>
						<h2 slot="heading-title" class="h2">Contact</h2>
						<p slot="heading-content">Get in touch with us for any questions or inquiries.</p>
					</Heading> -->

					<!-- <FormContact /> -->
					<Map />
				</div>

				<div>
					<Heading>
						<h2 slot="heading-title" class="h2" data-translate="LOCATION">Location &amp; Hours</h2>
						<div slot="heading-content">
							<Address />
							<TableHours />
						</div>
					</Heading>
					
				</div>
			</div>
		</Container>
	</Section>
	

	<Section class:list={"bg-white"}>
		<Container>
			<Hero invert>
				<div slot="hero-content-left" class="prose">
					<h2 class="h2 text-pink-300" data-translate="PREGUNTAS_FRECUENTES">Preguntas frecuentes</h2>
					<Faq items={faq} color="fuchsia"/>
				</div>
				<div slot="hero-content-right" class="rotate-1">
					<Image src={CatThree} alt="Cat" class:list={"w-full h-full object-cover rounded-2xl shadow"} />
				</div>
			</Hero>
		</Container>
	</Section>
	<!-- <Section class:list={"bg-white"}>
		<Container>
			<Hero>
				<div slot="hero-content-left" class="prose">
					<h3 class="h2 text-teal-500" data-translate="REGLAS">Calidad y Experencia Inigualables</h3>
					<p >
						<Preguntas />
					</p>

					
				</div>
				<div slot="hero-content-right" class="-rotate-1">
					<Image src={CatOne} alt="Cat" class:list={"w-full h-full object-cover rounded-2xl shadow"} />
				</div>
			</Hero>
		</Container>
	</Section> -->

	<Section class:list={"relative"}>
		<Image src={CatBackground} alt="Cat" class:list={"absolute inset-0 w-full h-full object-cover"} />
		<div class="bg-gradient-to-r from-pink-300 to-teal-900/80 absolute inset-0"></div>

		<Container class:list={"relative z-10"}>
			<!-- <CallToAction
				title="Contact us today to adopt a cat"
				link={{ title: "Adopt", url: "/cats", color: "white" }}
			/> -->
		</Container>
	</Section>

	<Section>
		<Container>
			<Heading>
				<h2 slot="heading-title" class="h2text-4xl font-bold bg-gradient-to-r from-pink-200 via-pink-400 to-fuchsia-600 bg-clip-text text-transparent" data-translate="WELCOME_BLOG">News from our shelter</h2>
				<p slot="heading-content" data-translate="WELCOME_BLOG_DESC">
					Welcome to our blog! Here you will find the latest news and updates from our pet shelter. We are
					passionate about helping pets find loving forever homes, and we are excited to share our stories
					with you. Thank you for supporting our shelter!
				</p>
			</Heading>

			<ShowBlogs posts={["bienvenidos-neko-hi", "cafe-gatos-gdl", "neko-hi-web-page", "concurso-dibujo"]} />
		</Container>
		
		
	</Section>
	

	<!-- <Section class:list={"relative"}>
		<Image src={CatBackground} alt="Cat" class:list={"absolute inset-0 w-full h-full object-cover"} />
		<div class="bg-gradient-to-r from-pink-300 to-teal-900/80 absolute inset-0"></div>

		<Container class:list={"relative z-10"}>
			<CatNameGenerator title="Help me name my new cat!" />
		</Container>
	</Section> -->
</Layout>
